.converter-container {
  min-height: 100vh;
  background-color: hsl(214deg 52% 38%);
  padding-top: 20px;
}

.converter-container div {
  color: white;
  max-width: 100%;
  padding-right: 20px;
  font-size: 25px;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.converter-container input {
  background-color: transparent;
  color: white;
  border: none;
  text-align: right;
  font-size: 25px;
  width: 80%;
  display: inline-block;
  margin-right: 10px;
  outline: none;
}
.converter-container span{
  display: flex;
  align-items: center;
}
@media (max-width: 325px) {
  .converter-container input {
    max-width: 230px;
  }
}
