.App {
  text-align: center;
  min-height: 100vh;
}
.base-container {
  padding: 40px 0;
  background-color: hsl(214deg 52% 38%);
}
.base-container h2 {
  margin-top: 5px;
  color: white;
}
.large-curr {
  border-radius: 50%;
  width: 220px !important;
  height: 220px !important;
  background-position: center;
}
